__pycache__/AlwaysDefectStrategy.cpython-311.pyc
__pycache__/Game.cpython-311.pyc
__pycache__/GameState.cpython-311.pyc
__pycache__/Strategy.cpython-311.pyc
__pycache__/TitForTatStrategy.cpython-311.pyc
